
@media(min-width: 992px){

   body{
    padding-left: 19em;
  }

  .isotope .isotope-item {
    width: 50%;
  }
}

@media(min-width: 1200px){
  .isotope .isotope-item {
    width: 33.333333%;
  }
}


