/* UNIVERSAL */

html, body {height: 100%; width: 100%; margin: 0; padding: 0; left: 0; top: 0; font-size: 100%;}
img {display: block;}

/* TYPOGRAPHY */

* {font-family: "Karla", sans-serif; font-size: 1rem; font-weight: 300; line-height: 1.4; color: black;}

h1 {font-size: 4.5rem; line-height: 1.05; font-weight: 200;}
h2 {font-size: 1.75rem; line-height: 1.2;}
h3 {font-size: 1.375rem;}
h4 {font-size: 1.125rem; line-height: 1.4; letter-spacing: 0.5px;}
p {font-size: 1.25rem; line-height: 1.4; letter-spacing: 0.5px;}
p.small, a.small {font-size: 1rem;}

a {
	font-size: 1.25rem;
	line-height: 1.5;
	letter-spacing: 0.5px;
	text-decoration: none;
	border-bottom: 1px transparent solid;
	opacity: 0.7;
	-webkit-transition: opacity, border-bottom 1s ease-out;
	-moz-transition: opacity, border-bottom 1s ease-out;
	-o-transition: opacity, border-bottom 1s ease-out;
	transition: opacity, border-bottom 1s ease-out;
}

a {color: black;}
a:hover {opacity: 1; border-bottom: 1px black solid;}
h1, p, a, a:visited {color: black;}
.white-text a {color: white;}
.white-text a:hover {opacity: 1; border-bottom: 1px white solid;}
.white-text h1, .white-text p, .white-text a, .white-text a:visited {color: white;}

.img-transition {
	margin-top: -50px;
	-webkit-transition: margin-top 1s ease-out;
	-moz-transition: margin-top 1s ease-out;
	-o-transition: margin-top 1s ease-out;
	transition: margin-top 1s ease-out;
}

/* GRID */

.container {width: 90%; margin-left: auto; margin-right: auto;}
.row {position: relative; width: 100%;}
.row [class^="col"] {float: left; margin: 0.5rem 2%; min-height: 0.125rem;}

.row::after {content: ""; display: table; clear: both;}
.hidden-sm {display: none;}

.col-1 {width: 4.33%;}
.col-2 {width: 12.66%;}
.col-3 {width: 21%;}
.col-4 {width: 29.33%;}
.col-5 {width: 37.66%;}
.col-6 {width: 46%;}
.col-7 {width: 54.33%;}
.col-8 {width: 62.66%;}
.col-9 {width: 71%;}
.col-10 {width: 79.33%;}
.col-11 {width: 87.66%;}
.col-12 {width: 96%;}
.hidden-sm {display: block;}

/* START */

#logo {top: 100px;}
#nav {top: 150px;}
#home-intro {top: 350px;}
#home-para {margin-top: 45px; margin-bottom: 200px;}
#spac-para {margin-top: -45px;}
#spac-intro {top: 250px;}
#mng-team-intro {top: 400px;}
#mng-team-pic {top: 450px;}
#mng-team-pic-name {top: 450px;}
.mng-team-pic-title {margin-top: -15px;}
#dir-team-intro {top: 600px;}
#dir-team-pic {top: 650px;}
#dir-team-pic-name {top: 650px;}
.dir-team-pic-title {margin-top: -15px;}
footer {top: 650px; margin-top: 200px; padding-bottom: 50px;}

@media (max-width: 1600px) {
	h1 {font-size: 3.5rem;}
	p {font-size: 1.125rem;}
	a {font-size: 1.125rem;}
	#home-para {margin-top: 30px;}
}

@media (max-width: 1200px) {
	h1 {font-size: 3rem;}
	#home-para {margin-top: 30px;}
	#spac-intro .col-1, #spac-intro .col-2, #spac-intro .col-3, #spac-intro .col-4, #spac-intro .col-5, #spac-intro .col-6, #spac-intro .col-7, #spac-intro .col-8, #spac-intro .col-9, #spac-intro .col-10, #spac-intro .col-11, #spac-intro .col-12 {width: 96%;}
	#spac-para {margin-top: 75px;}
}

@media (max-width: 1000px) {
	.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {width: 96%;}
	#home-intro {top: 200px;}
	#home-para {margin-top: -10px;}
	#logo {top: 50px;}
	#nav {top: 100px;}
	h1 {font-size: 3rem;}
}

@media (max-width: 800px) {
	h1 {font-size: 2.5rem;}
	p {font-size: 1rem;}
	a {font-size: 1rem;}
}

@media (max-width: 600px) {
	h1 {font-size: 2rem;}
}
