/* UNIVERSAL */

@import url('bootstrap.min.css');
html, body {height: 100%; width: 100%; margin: 0; padding: 0; left: 0; top: 0; font-size: 100%;}
img {display: block;}

/* TYPOGRAPHY */

* {font-family: "Karla", sans-serif; font-size: 1rem; font-weight: 300; line-height: 1.4; color: black;}

h1 {font-size: 4.5rem; line-height: 1.05; font-weight: 200;}
h2 {font-size: 1.75rem; line-height: 1.2; font-weight: 300;}
h3 {font-size: 1.375rem;}
h4 {font-size: 1.125rem; line-height: 1.4; letter-spacing: 0.5px; font-weight: 300;}
p {font-size: 1.25rem; line-height: 1.4; letter-spacing: 0.5px; margin: 0;}
p.small, a.small {font-size: 0.875rem;}

a {
	font-size: 1.25rem;
	line-height: 1.5;
	letter-spacing: 0.5px;
	text-decoration: none;
	border-bottom: 1px transparent solid;
	opacity: 0.7;
	-webkit-transition: opacity, border-bottom 1s ease-out;
	-moz-transition: opacity, border-bottom 1s ease-out;
	-o-transition: opacity, border-bottom 1s ease-out;
	transition: opacity, border-bottom 1s ease-out;
}

a {color: black;}
a:hover {opacity: 1; border-bottom: 1px black solid;}
h1, p, a, a:hover; a:visited {color: black;}
.white-text a {color: white;}
.white-text a:hover {opacity: 1; border-bottom: 1px white solid;}
.white-text h1, .white-text p, .white-text a, .white-text a:visited {color: white;}
#filings a:hover, #filings a:visited {color: black;}

/* GRID */

.container {width: 90%; margin-left: auto; margin-right: auto;}
.row {position: relative; width: 100%; margin-left: 0; margin-right: 0;}
.row [class^="col"] {float: left; margin: 0.5rem 2%; min-height: 0.125rem;}

.row::after {content: ""; display: table; clear: both;}
.hidden-sm {display: none;}

.col-1 {width: 4.33%;}
.col-2 {width: 12.66%;}
.col-3 {width: 21%;}
.col-4 {width: 29.33%;}
.col-5 {width: 37.66%;}
.col-6 {width: 46%;}
.col-7 {width: 54.33%;}
.col-8 {width: 62.66%;}
.col-9 {width: 71%;}
.col-10 {width: 79.33%;}
.col-11 {width: 87.66%;}
.col-12 {width: 96%;}
.hidden-sm {display: block;}

/* START */

#logo {top: 100px;}
#nav {top: 150px;}

#home-intro {top: 300px;}
#home-para {margin-top: 45px; margin-bottom: 200px;}
#spac-intro {top: 170px;}
#spac-para {margin-top: 1px;}

#about-intro {top: 300px;}
#mng-team-intro {top: 400px;}
#filings {margin-top: 400px;}
#mng-team-pic {top: 450px;}
#mng-team-pic-name {top: 450px;}
.team-pack h2 {margin-top: 30px;}
.mng-team-pic-title {margin-top: -7px;}
#dir-team-intro {top: 600px;}
#dir-team-pic {top: 650px;}
#dir-team-pic-name {top: 650px;}
.dir-team-pic-title {margin-top: -15px;}
#mng-team-intro p, #dir-team-intro p, #about-intro p {margin-top: 30px;}

#home-footer {top: 350px; padding-bottom: 50px;}
footer {top: 650px; margin-top: 200px; padding-bottom: 50px;}

@media (max-width: 1600px) {
	h1 {font-size: 3.5rem;}
	p {font-size: 1.125rem;}
	a {font-size: 1.125rem;}
	#home-para {margin-top: 30px;}
}

@media (max-width: 1200px) {
	h1 {font-size: 3rem;}
	#home-para {margin-top: 30px;}
	#spac-intro .col-1, #spac-intro .col-2, #spac-intro .col-3, #spac-intro .col-4, #spac-intro .col-5, #spac-intro .col-6, #spac-intro .col-7, #spac-intro .col-8, #spac-intro .col-9, #spac-intro .col-10, #spac-intro .col-11, #spac-intro .col-12,
	#mng-team-intro .col-6, #dir-team-intro .col-6, #about-intro .col-8 {width: 96%;}
	#spac-para {margin-top: 75px;}
}

@media (max-width: 1000px) {
	.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {width: 96%;}
	#home-intro {top: 200px;}
	#home-para {margin-top: -10px;}
	#logo {top: 50px;}
	#nav {top: 100px;}
	h1 {font-size: 3rem;}
	.team-pack {padding-bottom: 100px;}
}

@media (max-width: 800px) {
	h1 {font-size: 2.5rem;}
	p {font-size: 1rem;}
	a {font-size: 1rem;}
	.team-pack {padding-bottom: 70px;}
}

@media (max-width: 600px) {
	h1 {font-size: 2rem;}
}

/* MODAL */

.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

.modal-content p{
	margin-bottom: 0;
}

.modal-dialog{
	display: inline-block;
	text-align: left;
	vertical-align: middle;
	width: 90%;
	margin: 25px auto;
	border-radius: 0;
}

.modal:before {
	display: inline-block;
	vertical-align: middle;
	content: " ";
	height: 100%;
}

@media (min-width: 768px){
	.modal-dialog {
		width: 29em;
	}
}

.modal-content{
	border: 0;
	-webkit-box-shadow: none;
	 box-shadow:	none;
}

.modal-header{
	padding: 3em 1.2em;
	text-align: center;
	border-bottom: 0;
}

.modal-header .close{
	position: absolute;
	right: 0.9em;
	top: 0.9em;
}

.modal-title{
	font-size: 1.8em;
	color: #2e6be8;
}

.modal-info{
	color: #b0b0b0;
	font-size: 1.12em;
	margin: 0.5em 0 0;
	line-height: 1.6;
}

.modal-body{
	font-size: 1em;
	padding: 0 4.2em 3em;
}

.modal-footer{
	text-align: center;
	padding: 0;
	border: 0;
	margin-top: 2em;
}

.team .animated {
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
}

.modal {
	text-align: left;
}

.modal-dialog {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 0;
}

.modal img {
	width: 40%;
	float: left;
	margin-right: 50px;
	margin-bottom: 25px;
}

.modal-body {
	position: absolute;
	width: 100%;
	top: 130px;
	overflow: auto;
}

.modal-bio .team-name {

}

.modal-bio .team-spec {
	font-size: 1.25em;
	margin-top: 0.4em;
	margin-bottom: 1.5em;
}

.modal-content p {
	margin-bottom: 1em;
}

.modal-content{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: 0;
	box-shadow: none;
	overflow: scroll;
}

.modal-header{
	position: absolute;
	top: 35px;
	right: 35px;
	margin: 0;
	padding: 0;
	font-size: 1.25rem;
}

.modal-header a{
	color: #999;
}

.modal-header a:hover{
	color: #333;
}

.modal.fade .modal-dialog {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.modal.fade:not(.in) .modal-dialog {
	-webkit-transform: translate3d(25%, 0, 0);
	transform: translate3d(25%, 0, 0);
}

.modal-bio .modal-social{
	color: #4b4b4b;
	margin-top: 15px;
}

.modal-bio .modal-social:hover{
	color: #2e6be8;
}

.team-pack {cursor: pointer;}
