/* UNIVERSAL */

html, body {height: 100%; width: 100%; margin: 0; padding: 0; left: 0; top: 0; font-size: 100%;}
img {display: block;}

/* TYPOGRAPHY */

* {font-family: monospace; font-size: 1rem; font-weight: 300; line-height: 1.4; color: black;}
h1, h2, h3, p, a, ul, li, ol {font-family: 'Space Mono', monospace;}

h1 {font-size: 4.5rem; line-height: 1.05; font-weight: 200;}
h2 {font-size: 1.75rem; line-height: 1.2; font-weight: 300;}
h3 {font-size: 1.375rem;}
h4 {font-size: 1.125rem; line-height: 1.4; letter-spacing: 0.5px; font-weight: 300;}
p {font-size: 1.25rem; line-height: 1.4; letter-spacing: 0.5px; margin: 0;}
p.small, a.small {font-size: 0.875rem;}
li a {font-size: 1.25rem;}

a {
	font-size: 1.25rem;
	line-height: 1.5;
	letter-spacing: 0.5px;
	text-decoration: none;
	border-bottom: 1px transparent solid;
	opacity: 0.7;
	-webkit-transition: opacity, border-bottom 1s ease-out;
	-moz-transition: opacity, border-bottom 1s ease-out;
	-o-transition: opacity, border-bottom 1s ease-out;
	transition: opacity, border-bottom 1s ease-out;
}

a {color: black;}
a:hover {opacity: 1; border-bottom: 1px black solid;}
h1, p, a, a:hover; a:visited {color: black;}
.white-text a {color: white;}
.white-text a:hover {opacity: 1; border-bottom: 1px white solid;}
.white-text h1, .white-text p, .white-text a, .white-text a:visited {color: white;}
#filings a:hover, #filings a:visited {color: black;}
h1 sub {font-weight: 300;}

/* GRID */

.container {width: 90%; margin-left: auto; margin-right: auto;}
.row {position: relative; width: 100%; margin-left: 0; margin-right: 0;}
.row [class^="col"] {float: left; margin: 0.5rem 2%; min-height: 0.125rem;}

.row::after {content: ""; display: table; clear: both;}
.hidden-sm {display: none;}

.col-1 {width: 4.33%;}
.col-2 {width: 12.66%;}
.col-3 {width: 21%;}
.col-4 {width: 29.33%;}
.col-5 {width: 37.66%;}
.col-6 {width: 46%;}
.col-7 {width: 54.33%;}
.col-8 {width: 62.66%;}
.col-9 {width: 71%;}
.col-10 {width: 79.33%;}
.col-11 {width: 87.66%;}
.col-12 {width: 96%;}
.hidden-sm {display: block;}

/* START */

#logo {top: 100px;}
#nav {top: 150px;}

#spac-intro {top: 170px;}
#spac-para {margin-top: 1px;}

#about-intro {top: 300px;}
#mng-team-intro {top: 400px;}
#filings {margin-top: 400px;}
#mng-team-pic {top: 450px;}
#mng-team-pic-name {top: 450px;}
.team-pack h2 {margin-top: 30px;}
.mng-team-pic-title {margin-top: -7px;}
#dir-team-intro {top: 600px;}
#dir-team-pic {top: 650px;}
#dir-team-pic-name {top: 650px;}
.dir-team-pic-title {margin-top: -15px;}
#mng-team-intro p, #dir-team-intro p, #about-intro p {margin-top: 30px;}

#home-footer {top: 350px; padding-bottom: 50px;}
footer {top: 650px; margin-top: 200px; padding-bottom: 50px;}

@media (max-width: 1600px) {
	h1 {font-size: 3.5rem;}
	p {font-size: 1.125rem;}
	a {font-size: 1.125rem;}
	#home-para {margin-top: 30px;}
}

@media (max-width: 1200px) {
	h1 {font-size: 3rem;}
	#home-para {margin-top: 30px;}
	#spac-intro .col-1, #spac-intro .col-2, #spac-intro .col-3, #spac-intro .col-4, #spac-intro .col-5, #spac-intro .col-6, #spac-intro .col-7, #spac-intro .col-8, #spac-intro .col-9, #spac-intro .col-10, #spac-intro .col-11, #spac-intro .col-12,
	#mng-team-intro .col-6, #dir-team-intro .col-6, #about-intro .col-8 {width: 96%;}
	#spac-para {margin-top: 75px;}
}

@media (max-width: 1000px) {
	.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {width: 96%;}
	#home-intro {top: 200px;}
	#home-para {margin-top: -10px;}
	#logo {top: 50px;}
	#nav {top: 100px;}
	h1 {font-size: 3rem;}
	.team-pack {padding-bottom: 100px;}
}

@media (max-width: 800px) {
	h1 {font-size: 2.5rem;}
	p {font-size: 1rem;}
	a {font-size: 1rem;}
	.team-pack {padding-bottom: 70px;}
}

@media (max-width: 600px) {
	h1 {font-size: 2rem;}
}

/* MODAL */

.modal {
	display: none;
	overflow: hidden;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	-webkit-overflow-scrolling: touch;
	outline: 0;
}

.fade {
	opacity: 0;
	-webkit-transition: opacity .15s linear;
	-o-transition: opacity .15s linear;
	transition: opacity .15s linear;
}

.modal-content p {
	margin-bottom: 0;
}

.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
	width: 90%;
	margin: 25px auto;
	border-radius: 0;
}

.modal:before {
	display: inline-block;
	vertical-align: middle;
	content: " ";
	height: 100%;
}

@media (min-width: 768px){
	.modal-dialog {
		width: 29em;
	}
}

.modal-content {
	border: 0;
	-webkit-box-shadow: none;
	 box-shadow:	none;
}

.modal-header {
	padding: 3em 1.2em;
	text-align: center;
	border-bottom: 0;
}

.modal-header .close {
	position: absolute;
	right: 0.9em;
	top: 0.9em;
}

.modal-title {
	font-size: 1.8em;
	color: #2e6be8;
}

.modal-info {
	color: #b0b0b0;
	font-size: 1.12em;
	margin: 0.5em 0 0;
	line-height: 1.6;
}

.modal-body {
	font-size: 1em;
	padding: 0 4.2em 3em;
}

.modal-footer {
	text-align: center;
	padding: 0;
	border: 0;
	margin-top: 2em;
}

.team .animated {
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
}

.modal {
	text-align: left;
}

.modal-dialog {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 0;
}

.modal img {
	width: 40%;
	float: left;
	margin-right: 50px;
	margin-bottom: 25px;
}

.modal-body {
	position: absolute;
	width: 100%;
	top: 130px;
	overflow: auto;
}

.modal-bio .team-name {

}

.modal-bio .team-spec {
	font-size: 1.25em;
	margin-top: 0.4em;
	margin-bottom: 1.5em;
}

.modal-content p {
	margin-bottom: 1em;
}

.modal-content {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: 0;
	box-shadow: none;
	overflow: scroll;
}

.modal-header {
	position: absolute;
	top: 35px;
	right: 35px;
	margin: 0;
	padding: 0;
	font-size: 1.25rem;
}

.modal-header a {
	color: #999;
}

.modal-header a:hover {
	color: #333;
}

.modal.fade .modal-dialog {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.modal.fade:not(.in) .modal-dialog {
	-webkit-transform: translate3d(25%, 0, 0);
	transform: translate3d(25%, 0, 0);
}

.modal-bio .modal-social {
	color: #4b4b4b;
	margin-top: 15px;
}

.modal-bio .modal-social:hover {
	color: #2e6be8;
}

.team-pack {cursor: pointer;}

/* TECH MAP STUFF */

p, h1, h2, h3, a {color: white;}
p, a {font-size: 22px;}

#home-timeline {position: absolute;}
#home-intro {top: 350px;}
#home-intro h1 {text-align: center; font-size: 120px;}
#home-para {top: 600px;}
#home-para p {opacity: 0.6;}
#home-para p+p {margin-top: 40px; line-height: 1.4;}
#home-sectors-title {top: 900px;}
#home-sectors-title h2 {font-size: 30px;}
#home-sectors-1 {width: 100%; top: 950px;}
#home-sectors-2 {width: 100%; top: 1025px; padding-bottom: 175px;}

#sector-opener-timeline {position: absolute;}
#sector-opener-nav-left, #sector-opener-nav-right {position: fixed; top: 50%; z-index: 99; text-decoration: none;}
#sector-opener-nav-left {left: 55px;}
#sector-opener-nav-right {right: 55px;}
#sector-opener-nav-left a, #sector-opener-nav-right a {font-size: 16px; text-decoration: none; border: none; opacity: 0.5;}
#sector-opener-nav-left a:hover, #sector-opener-nav-right a:hover {font-size: 16px; color: white; opacity: 1; text-decoration: none; border: none;}

#sector-opener-title {top: 150px;}
#sector-opener-para {top: 200px;}
#sector-opener-title a {font-size: 16px; opacity: 0.5;}
#sector-opener-title h2 {font-size: 30px;}
#sector-opener-para p {opacity: 0.5;}
#sector-opener-para p+p {margin-top: 40px; line-height: 1.4;}
#sector-opener-explore {text-align: center; top: 300px;}
#sector-opener-explore	a {opacity: 0.8; display: block; line-height: 60px; text-decoration: none; border: 1px white solid; border-top: none; border-left: none; border-right: none;}
#sector-opener-explore	a:hover {color: white; opacity: 1;}

/* top nav  */
#sector-timeline-title {top: 100px;}
#sector-timeline-title a {font-size: 16px; opacity: 0.5;}
#sector-timeline-title h2 {font-size: 30px;}
#sector-timeline-title {z-index: 2000;}
#sector-timeline-title {text-align: center;}
#sector-timeline-title h2 {font-size: 3rem; padding-top: 90px;}
#sector-timeline-title a {opacity: 0.4;}
#sector-timeline-title a:hover {border-bottom: 1px white solid; opacity: 1;}
#sector-timeline-title #active-subsector-nav {opacity: 1;}

/* bottom nav  */
#sector-timeline-title-bottom {top: 3900px}
#sector-timeline-title-bottom a {font-size: 16px; opacity: 0.5;}
#sector-timeline-title-bottom h2 {font-size: 30px;}
#sector-timeline-title-bottom {z-index: 2000;}
#sector-timeline-title-bottom {text-align: center;}
#sector-timeline-title-bottom h2 {font-size: 3rem; padding-top: 90px;}
#sector-timeline-title-bottom a {opacity: 0.6;}
#sector-timeline-title-bottom a:hover {border-bottom: 1px white solid; opacity: 1;}
#sector-timeline-title-bottom #active-subsector-nav {opacity: 1;}
#sector-timeline-title-bottom h4 {color: white; font-size: 20px;}

#sector-timeline-para h3 {font-size: 18px;}
#sector-timeline-para p {font-size: 12px; opacity: 0.7;}
#sector-timeline-para p+p {margin-top: 40px; line-height: 1.4;}


/* TIMELINE */

body {
	display: flex;
	flex-direction: column;
	position: relative;
	overflow-x: hidden;
}

.flex-parent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.flex-parent span {color: white;}

.input-flex-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100vw;
	height: 100px;
	max-width: 800px;
	position: relative;
	z-index: 0;
}

.input {
	width: 20px;
	height: 20px;
	background-color: orange;
	position: relative;
	border-radius: 50%;
}
.input:hover {
	cursor: pointer;
}
/* vertical timeline length */

.input::before {
	content: "";
	display: block;
	position: absolute;
	z-index: -1;
	top: 50%;
	left: 9px;
	background-color: orange;
	width: 1px;
	height: 900px;
	max-width: 50px;
}

.subsector-other .input::before {
	height: 0px;
}

.ending-node.input::before {
	height: 150px;
	opacity: 0.3;
}

.input {
	left: 50px;
}

.input.active {
	background-color: #2C3E50;
}
.input.active::before {
	background-color: #2C3E50;
}
.input.active::after {
	background-color: #AEB6BF;
}
.input.active span {
	font-weight: 700;
}
.input.active span::before {
	font-size: 14px;
}
.input.active span::after {
	font-size: 14px;
}
.input.active ~ .input, .input.active ~ .input::before, .input.active ~ .input::after {
	background-color: #AEB6BF;
}
.input span {
	text-align: center;
	width: 500px;
	height: 1px;
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	visibility: hidden;
}

.input span::before, .input span::after {
	visibility: visible;
	position: absolute;
	left: 50%;
}

.input span::after {
	content: attr(data-year);
	top: 25px;
	transform: translateX(-50%);
	font-size: 14px;
}

.input span::before {
	content: attr(data-info);
	top: -65px;
	width: 70px;
	transform: translateX(-5px) rotateZ(-45deg);
	font-size: 12px;
	text-indent: -10px;
}

/* faded nodes and breakthrough nodes */

.node-void {opacity: 0.4;}
.node-breakthrough {border: 1px rgba(255, 255, 255, 0.6) solid;}

.description-flex-container {
	width: 80vw;
	font-weight: 400;
	font-size: 22px;
	margin-top: 100px;
	max-width: 1000px;
}
.description-flex-container p {
	margin-top: 0;
	display: none;
}
.description-flex-container p.active {
	display: block;
}

#subsector-toppara h2 {text-align: center; font-size: 2.75rem; padding-top: 50px; padding-bottom: 50px;}
#subsector-toppara p {line-height: 1.45;}
#subsector-toppara p+p {margin-top: 40px;}

#subsector-left {position: absolute; top: 0; left: 41.5%; width: 200px;}
#subsector-center {position: absolute; top: 0; left: 62%; width: 200px;}
#subsector-right {position: absolute; top: 0; left: 83%; width: 200px;}
#other {position: absolute; top: 0; left: 50%; width: 200px;}

.input {position: absolute;}
.input span {z-index: 1000;}

#subsector-left h3 {position: relative; font-size: 16px; text-align: center; top: 606px; left: -340px;}
#subsector-center h3 {position: relative; font-size: 16px; text-align: center; top: 606px; left: -340px;}
#subsector-right h3 {position: relative; font-size: 16px; text-align: center; top: 606px; left: -340px;}

#subsector-endpara a {margin-top: 200px;}
#subsector-toppara p {font-size: 1.5rem; text-align: left;}
#subsector-endpara p {font-size: 1.75rem; text-align: left;}
#subsector-endpara-backtotop {text-align: center;}
#subsector-endpara-backtotop a {border-bottom: 1px white solid; opacity: 0.6;}
#subsector-endpara-backtotop a:hover {opacity: 1;}

.feedback-form h4 {font-size: 1.75rem; color: white;}
.feedback-form p, .feedback-form a {font-size: 1.25rem;}

/* RWD */

/* top nav */
#rwd-desktop {display: block;}
#rwd-mobile {display: none;}

/* side nav */
#sector-opener-nav-left, #sector-opener-nav-right {display: none;}

@media screen and (max-width: 1200px) {
	#subsector-toppara h2, #subsector-endpara-backtotop h4 {font-size: 2rem; padding-top: 20px; padding-bottom: 50px;}
	#subsector-toppara p, #subsector-endpara p, #subsector-endpara-backtotop p {font-size: 1.25rem; padding-left: 60px; padding-right: 60px;}
	#subsector-left, #subsector-right, #subsector-other {display: none;}
	#subsector-center h3 {left: -42%;}
	#subsector-center {left: 75%;}
	#rwd-desktop {display: none;}
	#rwd-mobile {display: block;}
	#sector-opener-nav-left, #sector-opener-nav-right {display: block;}
}

@media screen and (max-width: 800px) {
	#subsector-toppara h2, #subsector-endpara-backtotop h4 {font-size: 1.5rem; padding-left: 80px; padding-right: 80px;}
	#subsector-toppara p, #subsector-endpara p {font-size: 0.875rem; padding-left: 80px; padding-right: 80px;}
	#subsector-center h3 {left: -40%;}
}

/* RWD phase2 */

#bsr-logo {max-width: 300px;}

/* ipad */
@media screen and (max-width: 1024px) {
	#bsr-logo {max-width: 200px;}
	#home-intro {top: 200px;}
	#home-intro h1 {font-size: 80px; line-height: 1.2;}
	#home-para {top: 450px;}
	#home-para p {font-size: 16px;}
	#home-sectors-2 {top: 935px;}
	#home-sectors-1 .home-sector-icon, #home-sectors-2 .home-sector-icon {padding-bottom: 80px;}
	}
}

/* iphone */
@media screen and (max-width: 812px) {
	#subsector-endpara-backtotop p {padding-left: 30px; padding-right: 30px;}
	}
}
