@import url('https://fonts.googleapis.com/css?family=Karla:400,700');

::-moz-selection {
  background:#2e6be8;
  color:white;
}

::selection {
  background:#2e6be8;
  color:white;
}

body {
  padding:50px;
  font:15px/1.4 'Karla', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color:#777;
  font-weight:400;
}

h1, h2, h3, h4, h5, h6 {
  color:#777;
  margin:0 0 20px;
}

p {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
}

a {
  color:#3b6de0;
  text-decoration:none;
}

.wrapper {
  width:860px;
  margin:0 auto;
}

img {
  max-width:100%;
}

header {
  width:270px;
  float:left;
  position:fixed;
}

section {
  width:500px;
  float:right;
  padding-bottom:50px;
}

@media print, screen and (max-width: 960px) {
  
  div.wrapper {
    width:auto;
    margin:0;
  }
  
  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }
  
  header {
    padding-right:320px;
  }
  
  section {
    border:1px solid #e5e5e5;
    border-width:1px 0;
    padding:20px 0;
    margin:0 0 20px;
  }
  
  header ul {
    position:absolute;
    right:50px;
    top:52px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }
  
  header {
    padding:0;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding:15px;
  }
}
