html, body, section {height: 100vh;}
body {background: lightgray; font-size: 1em; color: black;}
h1, h2, h3, p, a {font-family: 'Space Mono', monospace; color: black;}
.container {width: 60%;}
#breadcrumbs {padding-top: 40px;}
#enablers {padding-top: 20px;}
h1 {font-size: 2.5em; padding-top: 0; margin-top: 10px;}
p, a {font-size: 1.25em; text-decoration: none; border: none;}
p a {font-size: 1em;}
a {color: #2e6be5; opacity: 1;}
	a:hover {opacity: 0.7;}
		article {width: 80%; margin: 0 auto 50px;}
		a:hover {border-bottom: none; text-decoration: underline;} /* BUG: Hovering underline */
		.text {background-color: white; padding: 4em;}
		img {width: 80%; margin: 50px auto;}
		p+p {padding-top: 30px;}
		em {font-size: 1rem; line-height: 1.4;}
		ul li, ul ol {font-size: 1.25rem; line-height: 1.4;}
		ul {padding-bottom: 50px;}
		b {font-size: 1.375rem; font-weight: 700;}
		ol a {font-size: 1.125rem;}
		.modal-pullquote {font-size: 1.75rem; font-style: italic; line-height: 1.4; padding-top: 50px; padding-bottom: 50px;}
		@media only screen and (max-width: 1200px) {
			.container {width: 90%;}
			article {width: 90%;}
			img {width: 100%;}
		}
		@media only screen and (max-width: 900px) {
			.container {width: 100%;}
			article {width: 90%;}
		}
